<div id="like_already">
    <% if like.present? %>
        <li><%= link_to "♥", user_destroy_likes_path(user_id: current_user.id, liked_user_id: like.liked_user_id), remote: true %></li>
        <li><%= like.liked_user_id %></li>
    <% else %>
        <li><%= link_to "♡", user_create_likes_path(user_id: current_user.id, liked_user_id: liked_user_id), remote: true %></li>
        <li><%= liked_user_id %></li>
    <% end %>
</div>