  <% @users.each do |user| %>
    <% if @user_information.image.attached? %>
      <%= image_tag @user_information.image, size: "50x50" %><br>
    <% else %>
      <%= image_tag "defaultUserIcon.png", size: "50x50" %><br>
    <% end %>
    <li>
      <%= user.name %>
      <%= user.email %>
    </li>
  <% end %>