/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.navigation ul {
  display: flex;
  background-color: orange;
  padding: 5px 0;
}

.navigation li {
  list-style: none;
  align-content: center;
}

.navigation li:nth-child(n + 2) {
  flex-grow: 1;
}

.navigation li:first-child {
  margin-left: 70px;
  background-color: white;
  padding: 3px;
  border-radius: 100%;
}

.navigation li:nth-child(2) {
  margin-left: 150px;
}

.navigation li:last-child {
  margin-right: 70px ;
}

.navigationLink {
  text-decoration: none;
  color: white;
}

.navigationLink:hover {
  color: indigo;
}

.loginLink {
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
}

.loginLink:hover {
  background-color: white;
  color: indigo;
}

.newUserLink{
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  background-color: skyblue;
}

.newUserLink:hover {
  background-color: white;
  color: indigo;
}

.logOutLink {
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  color: yellow;
}

.logOutLink:hover {
  background-color: white;
}

.cancelMembershipLink {
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  color: red;
}

.cancelMembershipLink:hover {
  background-color: white;
  color: red;
}