main {
  display: flex;
  justify-content: center;
}

h2 {
  color: deepskyblue;
  text-align: center;
}

.field .input-field {
	width: 400px;
	height: 20px;
	margin-bottom: 25px;
	border: 2px solid gray;
	border-radius: 5px;
}

.actions-field .login-button {
	width: 100px;
	height: 40px;
	margin: 30px 0;
	color: white;
	background-color: orange;
	border: none;
	border-radius: 5%;
    cursor: pointer;
}

.center-element {
  text-align: center;
}