.main {
  background-color: orange;
  padding: 0 50px 50px 50px;
}

.container {
  line-height: 0em;
  background-color: white;
  border-radius: 5em;
  padding: 0 50px;
  background-image:
			radial-gradient(290px 300px , yellow 20%, transparent 20%),
			radial-gradient(800px 780px , yellow 20%, transparent 20%),
			radial-gradient(1000px 990px , yellow 20%, transparent 20%),
			radial-gradient(400px 380px , yellow 20%, transparent 20%),
			radial-gradient(750px 750px , yellow 20%, transparent 20%),
			radial-gradient(100px 100px , yellow 20%, transparent 20%);
		background-size: 
			1230px 1280px,
			810px 910px,
			1470px 990px,
			1200px 1700px,
			1520px 1200px,
			1100px 1300px;
		background-position: 
			-300px -550px,
			-200px 100px,
			50px 510px,
			-200px -550px,
			-180px -250px,
			130px -150px;
}

.catchCopyBackground {
  border-radius: 50%;
  width: 700px;
  height: 700px;
  background-color:  orange;
  margin: 0 auto;
}

.catchCopy {
  position: relative;
  top: 400px;
  text-align: center;
  color: white;
}

.sessionLink {
  margin-top: 100px;
  text-align: center;
}

.sessionLink p {
  margin: 50px 0;
}

.sessionLink .newUserLink {
  border-radius: 3em;
  padding: 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
}

.sessionLink .newUserLink:hover {
  background-color: white;
  color: orange;
  text-decoration: none;
}

.sessionLink .loginLink {
  color: dimgray;
}

.sessionLink .loginLink:hover {
  color: indigo;
}

.step-warppar h2{
  color: orange;
}

.step-warppar .step-title{
  border-bottom: 2px dashed orange;
  margin-bottom: 30px;
}


.step {
  text-align: center;
  margin: 0 30px;
}

.step .image-blank {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;  
  background: orange;
}

.step img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100px;
  height: auto;
}

.step-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.step-section p {
  color: dimgray;
}