.container {
  margin: 0 100px;
  line-height: 0em;
}

.catchCopyBackground {
  border-radius: 100em;
  padding: 300px;
  background-color:  yellow;
  margin: 0 auto;
}

.catchCopy {
  position: relative;
  top: 350px;
  text-align: center;
  color: dimgray;
}

.sessionLink {
  margin-top: 100px;
  text-align: center;
}

.sessionLink p {
  margin: 50px 0;
}


.sessionLink .newUserLink {
  border-radius: 3em;
  padding: 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
}

.sessionLink .newUserLink:hover {
  background-color: white;
  color: orange;
  text-decoration: none;
}


.sessionLink .loginLink {
  color: dimgray;
}

.sessionLink .loginLink:hover {
  color: indigo;
}

.flow-explanation-warppar {

}

.flow-explanation {
  text-align: center;
  margin: 0 30px;
}

.flow-explanation .image-blank {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;  
  background: orange;
}

.flow-explanation img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100px;
  height: auto;
}


.flow-explanation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.flow-explanation-section p {
}