main {
  display: flex;
  flex-wrap: wrap;
}

.user {
  width: 250px;
  margin: 20px;
  background-color: skyblue;
  border-radius: 3em;
}

.user li {
  list-style: none;
}

.user-image img {
  width: 200px;
  height: 200px;
  margin: 25px 0 0 25px;
  object-fit: cover;
}

.user-like {
  top: -35px;
  left: 175px;
  position: relative;
}